<div class="app-container">
    <h1>Student Management System</h1>
	<h2>Student Form</h2>
	<div *ngIf="showForm" class="form-area">
		<student-form [student]="editingStudent" [index]="editingIndex" (add)="onStudentAdded($event)" (update)="onStudentUpdated($event)"></student-form>
	</div>

	<div *ngIf="students.length > 0" class="table-area">
		<h2>Students Data</h2>
		<student-table [students]="students" (edit)="onEditRequested($event)" (delete)="onDeleteRequested($event)"></student-table>
	</div>
</div>